@{
    ViewBag.Title = "SheDesires";
}

<h2>@ViewBag.Message</h2>
<section>
    <p>I want you to think about the times when you were with the person you need a gift for. Do you have it?</p>
    <p>Think about things she said, what she liked, what she browse on internet.</p>
    <p>Any idea what would she want?</p>
    <p>Still nothing?</p>
    <p>Is there any particular book she liked?</p>
    <p>Is she freak about some movie?</p>
    <p>Does she have favorite band or singer?</p>

</section>
